<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Company_Helloworld> <!-- your namespace and module name. spell/case it right. -->
			<version>0.1</version> <!-- the version of your module, unimportant unless dealing with custom sql -->
			<active>true</active> <!-- this is always true unless you want to explicitly disable this -->
                        	              <!-- module to diagnose issues -->
			<codePool>community</codePool> <!-- where the module lives in app/etc - either local, community or core -->
		</Company_Helloworld>
	</modules>
	<frontend>
		<routers>
			<helloworld> <!-- name of router. for consistency sake, match this to fontName -->
				<use>standard</use> <!-- this is a standard router -->
				<args>
					<module>Company_Helloworld</module> <!-- what module we should look at for -->
					                                    <!-- the 'helloworld' router -->
					<frontName>helloworld</frontName> <!-- for consistncy sake, match this to router name -->
				</args>
			</helloworld>
		</routers>
	</frontend>
</config>